@charset "UTF-8";@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video 
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; box-sizing: border-box; word-break: keep-all; text-decoration: none; letter-spacing: -.24px; font-style: normal; line-height: 1; } 

li, ul { list-style: none; } 

body { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; overflow-x: hidden; background-color: white; } 

a,a:link,a:visited{color: inherit;}

/* 타이틀 */
.title-01 { font-size: 48px; line-height: 64px; font-style: normal; font-weight: 700; } 
.title-02 { font-size: 40px; line-height: 56px; font-style: normal; font-weight: 700; } 
.title-03 { font-size: 32px; line-height: 48px; font-style: normal; font-weight: 700; } 
.title-04 { font-size: 28px; line-height: 40px; font-style: normal; font-weight: 700; } 
.title-04-higher { font-size: 28px; line-height: 44px; font-style: normal; font-weight: 700; } 
.title-05 { font-size: 24px; line-height: 36px; font-style: normal; font-weight: 700; } 
.title-06 { font-size: 20px; line-height: 32px; font-style: normal; font-weight: 700; } 
.title-07 { font-size: 18px; line-height: 28px; font-style: normal; font-weight: 700; } 
.title-08 { font-size: 16px; line-height: 24px; font-style: normal; font-weight: 700; } 
.title-09 { font-size: 14px; line-height: 20px; font-style: normal; font-weight: 700; } 

/* 본문 */
.text-01 {font-size: 20px; line-height: 32px;font-style: normal; font-weight: 400;} 
.text-02 {font-size: 18px; line-height: 28px;font-style: normal; font-weight: 400;} 
.text-03 {font-size: 16px; line-height: 24px;font-style: normal; font-weight: 400;} 
.text-03-higher {font-size: 16px; line-height: 28px;font-style: normal; font-weight: 400;} 
.text-04 {font-size: 15px; line-height: 24px;font-style: normal; font-weight: 400;} 
.text-05 {font-size: 14px; line-height: 20px;font-style: normal; font-weight: 400;} 
.text-06 {font-size: 13px; line-height: 20px;font-style: normal; font-weight: 400;} 

/* 마진 */
.mb1{margin-bottom: 3rem;}
.mb2{margin-bottom: 1.5rem;}
.mb3{margin-bottom: 1rem;}
.mb4{margin-bottom: 0.8rem;}
.mb5{margin-bottom: 0.4rem;}

.mt1{margin-top: 3rem;}
.mt2{margin-top: 1.5rem;}
.mt3{margin-top: 1rem;}
.mt4{margin-top: 0.8rem;}
.mt5{margin-top: 0.4rem;}

/* 정렬 */
.txt-center{text-align: center;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}

/* 컨테이너 크기 */
.j-container{position: relative;}
.con-inner{max-width: 1120px; margin: auto; width: 92%; position: relative; padding: 180px 0;}
.tb1{max-width: 576px;}
.tb2{max-width: 732px;}
.tb3{max-width: 928px;}
.vh100{height: 100vh;}

.flex-center{display: flex; justify-content: center; align-items: center;}


:root{
--black100: #000;
--white100: #fff;
--jb: #121619;
--jw: #F9F9FA;
	
--cg90: #25282B;
--cg80: #44474B;
--cg70: #656A71;
--cg60: #9FA4AB;
--cg50: #CFD1D5;
--cg40: #E7E8EA;
--cg30: #F4F4F5;
	
--wg90: #232323;
--wg80: #474747;
--wg70: #6A6A6A;
--wg60: #A4A4A4;
--wg50: #D1D1D1;
--wg40: #E8E8E8;
--wg30: #F4F4F4;

--g500 : #377538;
--g400 : #3C8E42;
--g300 : #41AC4D;
--g200 : #52C564;
--g100 : #6CDD83;
--g90 : #92E6A3;
--g80 : #A2EBB4;
--g70 : #B3EEC1;
--g60 : #C3F2CD;
--g50 : #D0F5DA;
--g40 : #E0F9E4;
--g30 : #EFFDF3;
 
--y500 : #938A29;
--y400 : #B3A82A;
--y300 : #D8CA2C;
--y200 : #E7DA4B;
--y100 : #FCF16C;
--y90 : #FDF69E;
--y80 : #FEF8B1;
--y70 : #FEF9BD;
--y60 : #FEFCCB;
--y50 : #FEFCD8;
--y40 : #FFFDE5;
--y30 : #FFFEF2;
 
--s500 : #3A7977;
--s400 : #409390;
--s300 : #46B2AF;
--s200 : #5EC7C3;
--s100 : #7ADEDA;
--s90 : #AFECEA;
--s80 : #BBEFED;
--s70 : #C5F1EF;
--s60 : #D1F5F3;
--s50 : #DCF7F6;
--s40 : #E9F9F9;
--s30 : #F3FDFC;
 
--l500 : #668A33;
--l400 : #79A837;
--l300 : #8EC93D;
--l200 : #A4D95A;
--l100 : #BFEF7B;
--l90 : #D0F894;
--l80 : #DCFAAD;
--l70 : #E2FBB9;
--l60 : #E7FCC6;
--l50 : #EDFDD2;
--l40 : #F3FEDF;
--l30 : #F9FFEB;
 
--p500 : #553B94;
--p400 : #623FB3;
--p300 : #7753CA;
--p200 : #9375DB;
--p100 : #B49BF0;
--p90 : #C7B4F4;
--p80 : #D5C7F7;
--p70 : #E0D5F9;
--p60 : #E8E0FB;
--p50 : #EEE7FC;
--p40 : #F2EDFC;
--p30 : #F5F2FD;
 
--b500 : #25314D;
--b400 : #29385D;
--b300 : #2C4170;
--b200 : #304A89;
--b100 : #2b53AE;
--b90 : #315FC7;
--b80 : #5878CF;
--b70 : #718DD7;
--b60 : #8bA3DF;
--b50 : #A7b9E7;
--b40 : #C3D1EF;
--b30 : #E1E7F8;
}

.black100{color: var(--black100);}
.white100{color: var(--white100);}

.jb{color: var(--jb);}
.jw{color: var(--jw);}
	
.cg90{color: var(--cg90);}
.cg80{color: var(--cg80);}
.cg70{color: var(--cg70);}
.cg60{color: var(--cg60);}
.cg50{color: var(--cg50);}
.cg40{color: var(--cg40);}
.cg30{color: var(--cg30);}
	
.wg90{color: var(--wg90);}
.wg80{color: var(--wg80);}
.wg70{color: var(--wg70);}
.wg60{color: var(--wg60);}
.wg50{color: var(--wg50);}
.wg40{color: var(--wg40);}
.wg30{color: var(--wg30);}

.g500 {color: var(--g500);}
.g400 {color: var(--g400);}
.g300 {color: var(--g300);}
.g200 {color: var(--g200);}
.g100 {color: var(--g100);}
.g90 {color: var(--g90);}
.g80 {color: var(--g80);}
.g70 {color: var(--g70);}
.g60 {color: var(--g60);}
.g50 {color: var(--g50);}
.g40 {color: var(--g40);}
.g30 {color: var(--g30);}
 
.y500 {color: var(--y500);}
.y400 {color: var(--y400);}
.y300 {color: var(--y300);}
.y200 {color: var(--y200);}
.y100 {color: var(--y100);}
.y90 {color: var(--y90);}
.y80 {color: var(--y80);}
.y70 {color: var(--y70);}
.y60 {color: var(--y60);}
.y50 {color: var(--y50);}
.y40 {color: var(--y40);}
.y30 {color: var(--y30);}
 
.s500 {color: var(--s500);}
.s400 {color: var(--s400);}
.s300 {color: var(--s300);}
.s200 {color: var(--s200);}
.s100 {color: var(--s100);}
.s90 {color: var(--s90);}
.s80 {color: var(--s80);}
.s70 {color: var(--s70);}
.s60 {color: var(--s60);}
.s50 {color: var(--s50);}
.s40 {color: var(--s40);}
.s30 {color: var(--s30);}
 
.l500 {color: var(--l500);}
.l400 {color: var(--l400);}
.l300 {color: var(--l300);}
.l200 {color: var(--l200);}
.l100 {color: var(--l100);}
.l90 {color: var(--l90);}
.l80 {color: var(--l80);}
.l70 {color: var(--l70);}
.l60 {color: var(--l60);}
.l50 {color: var(--l50);}
.l40 {color: var(--l40);}
.l30 {color: var(--l30);}
 
.p500 {color: var(--p500);}
.p400 {color: var(--p400);}
.p300 {color: var(--p300);}
.p200 {color: var(--p200);}
.p100 {color: var(--p100);}
.p90 {color: var(--p90);}
.p80 {color: var(--p80);}
.p70 {color: var(--p70);}
.p60 {color: var(--p60);}
.p50 {color: var(--p50);}
.p40 {color: var(--p40);}
.p30 {color: var(--p30);}
 
.b500 {color: var(--b500);}
.b400 {color: var(--b400);}
.b300 {color: var(--b300);}
.b200 {color: var(--b200);}
.b100 {color: var(--b100);}
.b90 {color: var(--b90);}
.b80 {color: var(--b80);}
.b70 {color: var(--b70);}
.b60 {color: var(--b60);}
.b50 {color: var(--b50);}
.b40 {color: var(--b40);}
.b30 {color: var(--b30);}


.b-black100{background-color: var(--black100);}
.b-white100{background-color: var(--white100);}

.b-jb{background-color: var(--jb);}
.b-jw{background-color: var(--jw);}
	
.b-cg90{background-color: var(--cg90);}
.b-cg80{background-color: var(--cg80);}
.b-cg70{background-color: var(--cg70);}
.b-cg60{background-color: var(--cg60);}
.b-cg50{background-color: var(--cg50);}
.b-cg40{background-color: var(--cg40);}
.b-cg30{background-color: var(--cg30);}
	
.b-wg90{background-color: var(--wg90);}
.b-wg80{background-color: var(--wg80);}
.b-wg70{background-color: var(--wg70);}
.b-wg60{background-color: var(--wg60);}
.b-wg50{background-color: var(--wg50);}
.b-wg40{background-color: var(--wg40);}
.b-wg30{background-color: var(--wg30);}

.b-g500 {background-color: var(--g500);}
.b-g400 {background-color: var(--g400);}
.b-g300 {background-color: var(--g300);}
.b-g200 {background-color: var(--g200);}
.b-g100 {background-color: var(--g100);}
.b-g90 {background-color: var(--g90);}
.b-g80 {background-color: var(--g80);}
.b-g70 {background-color: var(--g70);}
.b-g60 {background-color: var(--g60);}
.b-g50 {background-color: var(--g50);}
.b-g40 {background-color: var(--g40);}
.b-g30 {background-color: var(--g30);}
 
.b-y500 {background-color: var(--y500);}
.b-y400 {background-color: var(--y400);}
.b-y300 {background-color: var(--y300);}
.b-y200 {background-color: var(--y200);}
.b-y100 {background-color: var(--y100);}
.b-y90 {background-color: var(--y90);}
.b-y80 {background-color: var(--y80);}
.b-y70 {background-color: var(--y70);}
.b-y60 {background-color: var(--y60);}
.b-y50 {background-color: var(--y50);}
.b-y40 {background-color: var(--y40);}
.b-y30 {background-color: var(--y30);}
 
.b-s500 {background-color: var(--s500);}
.b-s400 {background-color: var(--s400);}
.b-s300 {background-color: var(--s300);}
.b-s200 {background-color: var(--s200);}
.b-s100 {background-color: var(--s100);}
.b-s90 {background-color: var(--s90);}
.b-s80 {background-color: var(--s80);}
.b-s70 {background-color: var(--s70);}
.b-s60 {background-color: var(--s60);}
.b-s50 {background-color: var(--s50);}
.b-s40 {background-color: var(--s40);}
.b-s30 {background-color: var(--s30);}
 
.b-l500 {background-color: var(--l500);}
.b-l400 {background-color: var(--l400);}
.b-l300 {background-color: var(--l300);}
.b-l200 {background-color: var(--l200);}
.b-l100 {background-color: var(--l100);}
.b-l90 {background-color: var(--l90);}
.b-l80 {background-color: var(--l80);}
.b-l70 {background-color: var(--l70);}
.b-l60 {background-color: var(--l60);}
.b-l50 {background-color: var(--l50);}
.b-l40 {background-color: var(--l40);}
.b-l30 {background-color: var(--l30);}
 
.b-p500 {background-color: var(--p500);}
.b-p400 {background-color: var(--p400);}
.b-p300 {background-color: var(--p300);}
.b-p200 {background-color: var(--p200);}
.b-p100 {background-color: var(--p100);}
.b-p90 {background-color: var(--p90);}
.b-p80 {background-color: var(--p80);}
.b-p70 {background-color: var(--p70);}
.b-p60 {background-color: var(--p60);}
.b-p50 {background-color: var(--p50);}
.b-p40 {background-color: var(--p40);}
.b-p30 {background-color: var(--p30);}
 
.b-b500 {background-color: var(--b500);}
.b-b400 {background-color: var(--b400);}
.b-b300 {background-color: var(--b300);}
.b-b200 {background-color: var(--b200);}
.b-b100 {background-color: var(--b100);}
.b-b90 {background-color: var(--b90);}
.b-b80 {background-color: var(--b80);}
.b-b70 {background-color: var(--b70);}
.b-b60 {background-color: var(--b60);}
.b-b50 {background-color: var(--b50);}
.b-b40 {background-color: var(--b40);}
.b-b30 {background-color: var(--b30);}