.wrapper {
  width: 100%;
  background-color: #F9F9FA;
  margin: 12px 0;
  padding: 16px;
  border: 1px solid #CFD1D5;
  border-radius: 8px;
  display: flex;

  .form_section {
    display: flex;

    .registration_date {
      display: flex;
      justify-content: right;
      align-items: end;
      width: 80%;

      .input_wrapper {
        width: 90%;
      }
    }

    .input_wrapper {
      display: flex;
    }
  }

  input {
    width: 100%;
    border: 1px solid #CFD1D5;
    outline: none;
    border-radius: 8px;
    height: 32px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 2px;

    &.flex {
      width: 33.33%;
      justify-content: space-around;
    }
  }

  .button_section {
    display: flex;
    align-items: center;
    justify-content: space-around;

    button {
      display: block;
      height: 36px;
      width: 45%;
      margin: 10px auto 0 auto;
      border: none;
      border-radius: 5px;
      color: white;
      transition: 0.5s;
      cursor: pointer;

      &.add {
        background-color: #52C564;
        &:hover {
          background-color: #40994e;
        }
      }
      &.cancel {
        background-color: #f3684e;
        &:hover {
          background-color: #cd5842;
        }
      }
    }
  }
}