.wrapper {
  width: 90px;
  height: 90px;
  background-color: #6CDD83;
  border-radius: 8px;
  margin: 4px;
  overflow: hidden;
  transition: 0.5s;
  position: relative;

  &.job_group {
    background-color: #E7E8EA;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;

    p {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &.recruit_notice {
    width: 100%;
    height: 104px;
  }

  &.success_story {
    width: 48%;
    height: 405px;
    background-color: #44474b;
    padding: 24px;
    margin-bottom: 24px;
  }

  img {
    width: 100%;
  }

  .mask {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    box-sizing: border-box;
  }

  button {
    position: absolute;
    width: 50px;
    height: 30px;
    left: calc(50% - 25px);
    top: calc(50% - 15px);
    border-radius: 8px;
    background-color: #f3684e;
    color: white;
    border: none;
    cursor: pointer;

    &.success_story {
      width: 100px;
      height: 50px;
      left: calc(50% - 50px);
      top: calc(50% - 25px);
      font-size: 25px;
    }
  }
}